
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Bebas Neue', cursive;
}

body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.container {
  margin : 0 auto;
  height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile > img {
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 100%;
}

/* dari class mengambil tag p */
.profile > p {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 500px;
}

.link a {
  text-decoration: none;
  color: #222;
  font-size: 24px;
  text-align: center;
  border: 3px solid #222;
  background-color: #eaeaea;
  border-radius: 7px;
  margin: 5px 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.link > a:hover {
  background-color: azure;
}

.footer {
  text-align: center;
}

.footer > i {
  color: white;
  font-size: 20px;
}

@media screen and (min-width:575px) and (max-width: 810px) {
  body {
    background-repeat: no-repeat;
    object-fit: cover;
  }
}
